.about-us {
  .container();
  background-color: hotpink;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-top: 90px;
    font-size: 17px;
    color: #000000;
    font-weight: 700;
  }
}


