.catalog-content {
  &__header {
    margin-bottom: 30px;
  }

  &__list {
    list-style: none;
    .container();
    background-color: aqua;
  }

  &__video {
    .container();
    margin-bottom: 58px;
    background-color: bisque;
  }
}
