.catalog-content {

  p {
    font-size: 13px;
  }

  .catalog-content__list {
    list-style: none;
    .container();
    margin-top: 30px;
  }

  .catalog-content__video {
    .container();
    margin-bottom: 58px;
  }
}

@media @tablet-widths {
  .catalog-content {
    .catalog-content__list {
      margin-top: 80px;
    }

    .catalog-content__video {
      margin-bottom: 63px;
    }
  }
}

@media @desktop-widths  {
  .catalog-content {
    width: 1150px;
    margin: 0 auto;
    padding: 0;

    p {
      font-size: 15px;
    }

    .catalog-content__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 131px;
    }

    .catalog-content__video {
      padding: 0;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 102px;
    }

    .catalog-content__video:hover {
      box-shadow: 0 6px 10px 0 rgba(0,0,0, 0.1);
    }

    .catalog-content__video:active {
      box-shadow: 0 3px 5px 0 rgba(0,0,0, 0.1);
    }

  }
}
