.catalog-content {
  .catalog-content__header {
  }

  .catalog-content__list {
    list-style: none;
    .container();
    margin-top: 30px;
    background-color: aqua;
  }

  .catalog-content__video {
    .container();
    margin-bottom: 58px;
    background-color: bisque;
  }
}
