.contacts {
  .container();
  background: red;

  &__title {
    display: block;
    margin-bottom: 25px;

  }

  &__link {
    color: #444444;
    margin-bottom: 25px;
  }

  &__content {
    line-height: 30px;
    margin-bottom: 0;
  }

  &__map {
    margin-left: -30px;
    margin-bottom: 40px;
  }
}
