.content-btn {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;

  &__link {
    display: inline-block;
    width: 100%;
    padding: 26px 0;
    text-decoration: none;
    color: #ffffff;
  }

  &__link--one {
    .container();
    box-sizing: border-box;
    background: #63d1bb;
  }

  &__link--two {
    .container();
    box-sizing: border-box;
    background: #56c3b2;
  }
}
