.page-main {
  .page-main__product {
    margin-top: 26px;
  }

  .page-main__about-us {
    margin-top: 27px;
  }

  .page-main__reviews {
    margin-top: 54px;
  }

  .page-main__contacts {
    margin-top: 36px;
    margin-bottom: 40px;
  }
}

@media @tablet-widths {
  .page-main {
    .page-main__product {
      margin-top: 45px;
  }

    .page-main__about-us {
      margin-top: 47px;
      margin-bottom: 80px;
    }

    .page-main__contacts {
      margin-top: 61px;
      margin-bottom: 57px;
    }
}
}

@media @desktop-widths  {
  .page-main {
    .page-main__product {
      margin-top: 70px;
    }

    .page-main__about-us {
      margin-top: 69px;
      margin-bottom: 86px;
    }

    .page-main__reviews {
      margin-top: 0;
    }

    .page-main__contacts {
      margin-top: 71px;
      margin-bottom: 105px;

    }
  }
}
