.page-main {
  .page-main__product {
    margin-top: 30px;
  }

  .page-main__about-us {
    margin-top: 60px;
  }

  .page-main__reviews {
    margin-top: 51px;
  }

  .page-main__contacts {
    margin-top: 35px;
    margin-bottom: 40px;
  }
}

@media @tablet-widths {
  .page-main {
    .page-main__product {
      margin-top: 45px;
  }
    
    .page-main__about-us {
      margin-top: 50px;
      margin-bottom: 75px;
    }
    .page-main__contacts {
      margin-top: 70px;
      margin-bottom: 57px;
    }
}
}

@media @desktop-widths  {
  .page-main {
    .page-main__product {
      margin-top: 70px;
    }
  }
}
