.page-main {
  .page-main__product {
    margin-top: 26px;
  }

  .page-main__about-us {
    margin-top: 30px;
  }

  .page-main__reviews {
    margin-top: 54px;
  }

  .page-main__contacts {
    margin-top: 31px;
    margin-bottom: 40px;
  }
}

@media @tablet-widths {
  .page-main {
    .page-main__product {
      margin-top: 45px;
  }

    .page-main__about-us {
      margin-top: 50px;
      margin-bottom: 80px;
    }
    .page-main__contacts {
      margin-top: 64px;
      margin-bottom: 57px;
    }
}
}

@media @desktop-widths  {
  .page-main {
    .page-main__product {
      margin-top: 70px;
    }

    .page-main__about-us {
      margin-top: 88px;
      margin-bottom: 86px;
    }

    .page-main__reviews {
      margin-top: 0;
    }

    .page-main__contacts {
      margin-top: 132px;
      margin-bottom: 105px;

    }
  }
}
