.page-form {

  &__header {
    margin-bottom: 22px;
  }

  &__desc {
    .container();
    display: block;
    margin-bottom: 22px;
    background-color: aquamarine;
  }

  &__forms {
    margin-bottom: 55px;
  }

}
