.present {
  margin-bottom: 30px;

  &__border {
    margin-top: -6px;
    padding-left: 30px;
    border: 1px solid #ededed;
  }
  &__name-toy {
    display: block;
    margin-top: 20px;
    margin-bottom: 7px;
  }

  &__price {
    display: block;
    margin-top: 45px;
    padding-bottom: 26px;
    font-size: 15px;
    color: #000000;
    font-weight: 700;
  }

}
