.product {
  background-color: darkkhaki;
  padding-bottom: 40px;
  .container();

  &__action {
    margin-top: 4px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__action--color {
    color: #63d1bb;
  }

  &__table {

  }

  &__price {
    font-size: 17px;
    font-weight: 700;
    color: #444444;
    text-align: center;
  }

  &__buy {
    margin-top: 26px;
  }
}
