.reviews {
  .container();
  background: blue;
  padding-bottom: 50px;

  .rewiews__text {
    display: block;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  &__auhor-name {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    font-style: normal;
  }

  &__btn {
    display: block;
    margin-top: 38px;
  }
}

.reviews__auhor-name span {
  color: #444444;
  font-weight: 400;
}
