.video {
  .video__title {
    padding-top: 23px;
    padding-bottom: 30px;
    padding-left: 90px;
    border: 1px solid #ededed;
  }

  .video__content {
    padding: 33px;
    padding-top: 20px;
    border: 1px solid #ededed;
    border-top: none;
  }

  .video__btn {
    margin-top: 27px;
  }
}
