.video {
  position: relative;

  .video__image {
    position: absolute;
    top: 30px;
    left: 64px;
  }

  .video__picture {

    position: relative;
  }

  .video-btn {
    z-index: 30;
    position: absolute;
    top: 39px;
    left: 79px;
    width: 102px;
    height: 78px;
    background: url(../img/icon-play.svg) center no-repeat;
    border: 0;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.8);
      opacity: 0.3;
    }
  }

  .video__title {
    padding-top: 22px;
    padding-bottom: 25px;
    padding-left: 90px;
    border: 1px solid #ededed;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
  }

  .video__content {
    padding: 33px;
    padding-top: 0;
    padding-bottom: 32px;
    margin-top: -7px;
    border: 1px solid #ededed;
    border-top: none;
  }

  .video__text{
    padding-top: 27px;
  }

  .video__btn {
    margin-top: 25px;
  }
}

@media @tablet-widths {
  .video {
    display: flex;
    flex-direction: column;

    .video__image {
      top: 488px;
      left: 92px;
    }

    .video__title {
      order: -1;
      border-bottom: 0;
      padding-top: 36px;
      padding-bottom: 12px;
      padding-left: 105px;
      margin-top: 0;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }

    .video__picture {
      position: relative;
      order: -2;
      height: 456px;
    }

    .video__image-content {
      width: 100%;
      height: 100%;
    }

    .video-btn {
      top: 196px;
      left: 283px;

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        transform: scale(0.8);
        opacity: 0.3;
      }
    }

    .video-main {
      order: -2;
      width: 100%;
      height: 456px;
    }

    .video__content {
      padding-bottom: 45px;
      padding-left: 40px;
      padding-right: 40px;
    }

    .video__text{
      font-size: 15px;
    }

    .video__btn {
      line-height: 24px;
      margin-top: 35px;
    }
  }
}

@media @desktop-widths  {
  .video {
    position: relative;
    align-items: flex-end;

    .video__image {
      top: 42px;
      left: 760px;
    }

    .video__picture {
      position: absolute;
      width: 682px;
      height: 455px;
      top: 0;
      left: 0;
    }

    .video__title {
      width: 150px;
      margin-top: 0;
      padding-top: 93px;
      padding-right: 140px;
      padding-left: 80px;
      padding-bottom: 13px;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      color: #000000;
    }
    
    .video-btn {
      top: 188px;
      left: 297px;
    }

    .video__content {
      width: 230px;
      border-left: 0;
      padding-left: 80px;
      padding-bottom: 60px;
      padding-right: 58px;
    }

    .video__btn {
      margin-top: 47px;
    }
  }
}
